[user]
	email = xdzhang@suse.com
	name = Xudong Zhang
[core]
    fileMode = false
[credential]
	helper = cache --timeout=3600
[alias]
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen (%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ch = checkout
